{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 9999,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "plugins": [
    "@zackad/prettier-plugin-twig",
    "prettier-plugin-css-order",
		"prettier-plugin-tailwindcss"
	],
  "tailwindStylesheet": "./views/css/style.css",
  "twigAlwaysBreakObjects": false
}
