@theme {
  --text-base: 16px;
  --text-base--line-height: 1.25em;
  --text-large: 32px;
  --text-large--line-height: 1em;
}

@media (width >= theme(--breakpoint-lg)) {
  :root {
    --text-base: 18px;
    --text-large: 48px;
  }
}
